h5 {
    font-family: "Open Sans", serif !important;
    font-size: clamp(1.300rem, 0.917rem + 1.18vw, 2.150rem) !important;
}

label {
    font-family: "Open Sans", serif !important;
    font-size: clamp(0.900rem, 0.917rem + 1.18vw, 0.050rem) !important;
}

#register-container {
    padding: 30px;
}

.error-text {
    display: none;
}

.success-message{
    display: none;
    background-color: rgba(0, 255, 0, 0.3);
    text-align: center;
    padding: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.register-text {
    display: none;
}